# Скопируйте на сервер: /var/www/termiz/.env

DATABASE_URL="file:/var/www/termiz/data/prod.db"
AUTH_SECRET="замените-на-длинную-случайную-строку"
NEXTAUTH_URL="http://109.235.117.49"

VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
NEXT_PUBLIC_VAPID_PUBLIC_KEY=""
VAPID_SUBJECT="mailto:admin@termiz.ru"
